body {
    font-family: Arial, sans-serif;
    background-color: #bf94e4; /* Dark background */
    text-align: center;
    padding-top: 1em;
}
.timer {
    font-size: 36px;
    margin-top: 20px;
    padding: 20px;
    background-color: #bf94e4;
     /* Light text color */
    border-radius: 10px;
    border: 4px black;
}
title{
    color: white;
}
